# **credit-risk-analysis**

---

Исследование влияния социально-демографических факторов на своевременность погашения кредитов для улучшения кредитного скоринга.

**Цели исследования**



*   Определить влияние количества детей на возврат кредита в срок
* Выявить связь семейного положения с платежной дисциплиной
* Определить зависимость между уровнем дохода и возвратом кредита в срок?
* Оценить влияние цели кредита на своевременность выплат

**Структура исследования**



1.  Обзор данных — первичный анализ и проверка качества
2.   Предобработка — очистка, обработка пропусков и аномалий
3. Анализ гипотез — проверка влияния ключевых факторов
4. Выводы — практические рекомендации для банка

In [58]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

try:
    data = pd.read_csv('/datasets/data-csv/data.csv')
except:
    data =pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [59]:
# Выведите первые 20 строчек датафрейма data
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

* children — количество детей в семье
* days_employed — общий трудовой стаж в днях
* dob_years — возраст клиента в годах
* education — уровень образования клиента
* education_id — идентификатор уровня образования
* family_status — семейное положение
* family_status_id — идентификатор семейного положения
* gender — пол клиента
* income_type — тип занятости
* debt — имел ли задолженность по возврату кредитов
* total_income — ежемесячный доход
* purpose — цель получения кредита

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [61]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Столбец с пропущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type.

In [62]:
data['income_type'].unique()

array(['сотрудник', 'пенсионер', 'компаньон', 'госслужащий',
       'безработный', 'предприниматель', 'студент', 'в декрете'],
      dtype=object)

In [63]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

Обработаем пропуски в столбце days_employed. Отрицательное количество дней трудового стажа - это аномалия. Заменим все отрицательные значения положительными.

In [64]:
data['days_employed']= data['days_employed'].abs()

выведем медианное значение трудового стажа в днях:

In [65]:
data.groupby('income_type')['days_employed'].agg("median")

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

In [66]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

В столбце children есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма data.

In [67]:
data=data[(data['children'] != -1) & (data['children'] != 20)]

In [68]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

Заполним пропуски в столбце days_employed медианными значениями по каждого типа занятости income_type.

In [69]:
for t in data['income_type'].unique():
  data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] =\
  data.loc[(data['income_type']==t), 'days_employed'].median()

In [70]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [71]:
data['total_income'] = data['total_income'].astype(int)

In [72]:
data['education'] = data['education'].str.lower()

In [73]:
data.duplicated().sum()

np.int64(71)

In [74]:
data = data.drop_duplicates()
# удаляем дубликаты строк в DataFrame

Создадим столбец total_income_category с категориями:


* 0–30000 — 'E';
*   30001–50000 — 'D';
*  50001–200000 — 'C';
*   200001–1000000 — 'B';
*   1000001 и выше — 'A'.

In [75]:
def categorize_income(income):
  try:
    if 0 <= income <= 30000:
      return 'E'
    if 30001 <= income <= 50000:
      return 'D'
    if 50001 <= income <= 200000:
      return 'C'
    if 200001 <= income <= 1000000:
      return 'B'
    if 1000001 <= income :
      return 'A'
  except:
    pass

In [76]:
data['total_income_categoty']= data['total_income'].apply(categorize_income)

In [77]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Формируем новый столбец purpose_category, со сокдующими категориями:


*   'операции с автомобилем',
*   'операции с недвижимостью',
*   'проведение свадьбы',
*   'получение образования'.

In [78]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [79]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data['purpose_category'].unique()

array(['операции с недвижимостью', 'операции с автомобилем',
       'получение образования', 'проведение свадьбы'], dtype=object)

In [80]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_categoty,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21331 entries, 0 to 21524
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21331 non-null  int64
 1   days_employed          21331 non-null  float64
 2   dob_years              21331 non-null  int64
 3   education              21331 non-null  object
 4   education_id           21331 non-null  int64
 5   family_status          21331 non-null  object
 6   family_status_id       21331 non-null  int64
 7   gender                 21331 non-null  object
 8   income_type            21331 non-null  object
 9   debt                   21331 non-null  int64
 10  total_income           21331 non-null  int64
 11  purpose                21331 non-null  object
 12  total_income_categoty  21331 non-null  object
 13  purpose_category       21331 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 2.4+ MB

In [82]:
data['days_employed']= data['days_employed'].astype(int)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_categoty,purpose_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

In [83]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21331.000000,21331.000000,21331.000000,21331.000000,21331.000000,21331.000000,2.133100e+04
mean,0.474005,67148.470864,43.277952,0.816980,0.974497,0.081196,1.653427e+05
std,0.752378,139281.136753,12.575300,0.549282,1.421787,0.273143,9.831399e+04
min,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000,2.066700e+04
25%,0.000000,1024.000000,33.000000,1.000000,0.000000,0.000000,1.075070e+05
50%,0.000000,1996.000000,42.000000,1.000000,0.000000,0.000000,1.425940e+05
75%,1.000000,5337.000000,53.000000,1.000000,1.000000,0.000000,1.958420e+05
max,5.000000,401755.000000,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [84]:
# Приводим аномальные значения в столбце days_employed к значениям в днях
# Сначала преобразуем колонку в float, а затем выполняем операцию
data['days_employed'] = data['days_employed'].astype(float)

data.loc[data['days_employed'] > 21500, 'days_employed'] = data.loc[data['days_employed'] > 21500, 'days_employed'] / 24

data['days_employed'] = data['days_employed'].astype(int)

In [85]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_categoty,purpose_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,14177,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,15220,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C,операции с недвижимостью
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B,операции с недвижимостью
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C,операции с недвижимостью
18,0,16678,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B,операции с автомобилем

In [86]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21331.000000,21331.000000,21331.000000,21331.000000,21331.000000,21331.000000,2.133100e+04
mean,0.474005,4596.520651,43.277952,0.816980,0.974497,0.081196,1.653427e+05
std,0.752378,5350.752840,12.575300,0.549282,1.421787,0.273143,9.831399e+04
min,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000,2.066700e+04
25%,0.000000,1024.000000,33.000000,1.000000,0.000000,0.000000,1.075070e+05
50%,0.000000,1996.000000,42.000000,1.000000,0.000000,0.000000,1.425940e+05
75%,1.000000,5337.000000,53.000000,1.000000,1.000000,0.000000,1.958420e+05
max,5.000000,18388.000000,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [87]:
data['days_employed'] = data['days_employed'].astype(int) # с помощью метода astype() преобразуем данные к типу int
data.head(20) # проверка

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_categoty,purpose_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,14177,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,15220,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C,операции с недвижимостью
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B,операции с недвижимостью
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C,операции с недвижимостью
18,0,16678,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B,операции с автомобилем

In [106]:
data['dob_years'].unique()

array([42.        , 36.        , 33.        , 32.        , 53.        ,
       27.        , 43.        , 50.        , 35.        , 41.        ,
       40.        , 65.        , 54.        , 56.        , 26.        ,
       48.        , 24.        , 21.        , 57.        , 67.        ,
       28.        , 63.        , 62.        , 47.        , 34.        ,
       68.        , 25.        , 31.        , 30.        , 20.        ,
       49.        , 37.        , 45.        , 61.        , 64.        ,
       44.        , 52.        , 46.        , 23.        , 38.        ,
       39.        , 51.        , 59.05797482, 59.        , 29.        ,
       60.        , 55.        , 58.        , 39.8098956 , 71.        ,
       22.        , 73.        , 66.        , 69.        , 19.        ,
       39.68654646, 72.        , 70.        , 40.66643694, 74.        ,
       75.        ])

In [89]:
data.loc[(data['dob_years'] < 18) & (data['dob_years'] != 0), 'dob_years'].count()

np.int64(0)

Значение 0 говорит, что 100 строк содежат возраст заёмщика равный 0, что является ошибкой в данных. Вероятно, ошибка могла произойти вследствие заполнения нулями отсутствующих значений. Обработаем их как пропуски. Заменим, нулевые значения средними, которые посчитаем для каждого типа занятости(income_type).

In [90]:
for t in data['income_type'].unique():
  mean_value = data.loc[data['income_type'] == t, 'dob_years'].mean()
  data.loc[(data['dob_years'] == 0) & (data['income_type'] == t), 'dob_years'] = mean_value

/tmp/ipython-input-2574214527.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '39.8098955969133' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[(data['dob_years'] == 0) & (data['income_type'] == t), 'dob_years'] = mean_value

In [91]:
data.loc[data['dob_years'] == 0, 'dob_years'].count()

np.int64(0)

In [92]:
data['education'].unique()

array(['высшее', 'среднее', 'неоконченное высшее', 'начальное',
       'ученая степень'], dtype=object)

In [93]:
data['education'].sort_values().value_counts()

education
среднее                15075
высшее                  5227
неоконченное высшее      741
начальное                282
ученая степень             6
Name: count, dtype: int64

In [94]:
data['gender'].sort_values().value_counts()

gender
F      14092
M       7238
XNA        1
Name: count, dtype: int64

В столбце gender есть 1 некорректное значение XNA

In [95]:
data.loc[ data['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_categoty,purpose_category
10701,0,2358,24.0,неоконченное высшее,2,гражданский брак,1,XNA,компаньон,0,203905,покупка недвижимости,B,операции с недвижимостью

определить пол не представляется возможным. Т.к. столбец gender для исследований нам не понадобится. Оставим это значение как есть, чтобы не нарушать данные.


### **Есть ли зависимость между количеством детей и возвратом кредита в срок?**

Cоздадим дополнительный столбец в датафрейме, в котором сделаем категоризацию по кол-ву детей.
Cоздадим сводную таблицу.

Создадим функцию, которая будет выводить категорию людей по количеству детей:

нет детей, если детей нет


есть дети, если 1 или 2 ребенка


многодетный, если 3 и более детей

In [96]:
def children_category(children):
  if 1 <= children <= 2:
    return 'есть дети'
  if children >= 3:
    return 'многодетная'
  return 'нет детей'

In [97]:
data['children_rank'] = data['children'].apply(children_category)

In [98]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_categoty,purpose_category,children_rank
0,1,8437,42.0,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,есть дети
1,1,4024,36.0,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,есть дети
2,0,5623,33.0,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,нет детей
3,3,4124,32.0,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,многодетная
4,0,14177,53.0,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,нет детей
5,0,926,27.0,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,нет детей
6,0,2879,43.0,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью,нет детей
7,0,152,50.0,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования,нет детей
8,2,6929,35.0,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы,есть дети
9,0,2188,41.0,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью,нет детей

In [99]:
data.tail(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_categoty,purpose_category,children_rank
21515,1,467,28.0,среднее,1,женат / замужем,0,F,сотрудник,1,109486,заняться образованием,C,получение образования,есть дети
21516,0,914,42.0,высшее,0,женат / замужем,0,F,компаньон,0,322807,покупка своего жилья,B,операции с недвижимостью,нет детей
21517,0,404,42.0,высшее,0,гражданский брак,1,F,компаньон,0,178059,на покупку своего автомобиля,C,операции с автомобилем,нет детей
21518,0,15583,59.0,среднее,1,женат / замужем,0,F,пенсионер,0,153864,сделка с автомобилем,C,операции с автомобилем,нет детей
21519,1,2351,37.0,ученая степень,4,в разводе,3,M,сотрудник,0,115949,покупка коммерческой недвижимости,C,операции с недвижимостью,есть дети
21520,1,4529,43.0,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью,есть дети
21521,0,14330,67.0,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем,нет детей
21522,1,2113,38.0,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью,есть дети
21523,3,3112,38.0,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем,многодетная
21524,2,1984,40.0,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем,есть дети

In [100]:
debt_children = data.pivot_table(index='children_rank', columns='debt', values='gender', aggfunc='count')

есть долг (1) и нет долга (0)

Создадим сводную таблицу

In [101]:
debt_children.head()

debt               0     1
children_rank
есть дети       6222   638
многодетная      349    31
нет детей      13028  1063

In [102]:
# Создаем столбцы
debt_children.columns = ['no_debt', 'debt']
# Считаем долю должников
debt_children['share_of_debtors'] = debt_children['debt'] / (debt_children['debt'] + debt_children['no_debt'])
# Переводим значения в столбце доля дожников в проценты
debt_children['share_of_debtors'] = debt_children['share_of_debtors'].map('{:.1%}'.format)
# Сортируем по столбцу доля лолжников по убыванию
debt_children.sort_values(by='share_of_debtors', ascending=False)

               no_debt  debt share_of_debtors
children_rank
есть дети         6222   638             9.3%
многодетная        349    31             8.2%
нет детей        13028  1063             7.5%

 Наличие детей повышает вероятность задолжености. Вероятно, это связано с дополнительными расходами на детей. Однако, можно заметить, что в многодетных семьях уровень должников ниже (8.2%), чем в семьях с одним или двумя детьми (9.3%). Это может быть связано либо с тем, что существуют программы поддержки многодетных семей или количество заемщиков в категории "многодетный" для данного сравнения недостаточно. Для категории граждан без детей самый низкий показатель должников (7.3%).

## **Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [103]:
# Создаем таблицу методом pivot_table()
debt_family_status = data.pivot_table(index='family_status', columns='debt', values='gender', aggfunc='count')
# Создаем столбцы
debt_family_status.columns = ['no_debt', 'debt']
# Считаем долю должников
debt_family_status['share_of_debtors'] = debt_family_status['debt'] / (debt_family_status['debt'] + debt_family_status['no_debt'])
# Переводим значения в столбце доля дожников в проценты
debt_family_status['share_of_debtors'] = debt_family_status['share_of_debtors'].map('{:.1%}'.format)
# Сортируем по столбцу доля лолжников по убыванию
debt_family_status.sort_values(by='share_of_debtors', ascending=False)

                       no_debt  debt share_of_debtors
family_status
Не женат / не замужем     2523   273             9.8%
гражданский брак          3749   385             9.3%
женат / замужем          11334   927             7.6%
в разводе                 1105    84             7.1%
вдовец / вдова             888    63             6.6%

 Холостые и живущие в граждансокм браке пары больше подвержены риску стать должниками. Вероятно, это связано с тем, что у них больше свободы действий по распоряжению своими средствами. У них нет совместных накоплений, каждый распоряжается своими средствами по своему. Остальные категории, побывавшие в браке или на текущей момент в браке имеют меньшие проценты должников. Наиболее низкий процент у категории вдовец/вдова (6.6%). Это может быть связано с дополнительными средствами, доставшимися по наследству.

## **Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [104]:
# Создаем таблицу методом pivot_table()
debt_children = data.pivot_table(index='children_rank', columns='debt', values='gender', aggfunc='count')
# Создаем столбцы
debt_children.columns = ['no_debt', 'debt']
# Считаем долю должников
debt_children['share_of_debtors'] = debt_children['debt'] / (debt_children['debt'] + debt_children['no_debt'])
# Переводим значения в столбце доля дожников в проценты
debt_children['share_of_debtors'] = debt_children['share_of_debtors'].map('{:.1%}'.format)
# Сортируем по столбцу доля лолжников по убыванию
debt_children.sort_values(by='share_of_debtors', ascending=False)

               no_debt  debt share_of_debtors
children_rank
есть дети         6222   638             9.3%
многодетная        349    31             8.2%
нет детей        13028  1063             7.5%

Наличие детей повышает вероятность задолжености. Вероятно, это связано с дополнительными расходами на детей. Однако, можно заметить, что в многодетных семьях уровень должников ниже (8.2%), чем в семьях с одним или двумя детьми (9.3%). Это может быть связано либо с тем, что существуют программы поддержки многодетных семей или количество заемщиков в категории "многодетный" для данного сравнения недостаточно. Для категории граждан без детей самый низкий показатель должников (7.3%).

## **Как разные цели кредита влияют на его возврат в срок?**

In [105]:
# Создаем таблицу методом pivot_table()
debt_purpose_category = data.pivot_table(index='purpose_category', columns='debt', values='gender', aggfunc='count')
# Создаем столбцы
debt_purpose_category.columns = ['no_debt', 'debt']
# Считаем долю должников
debt_purpose_category['share_of_debtors'] = debt_purpose_category['debt'] / (debt_purpose_category['debt'] + debt_purpose_category['no_debt'])
# Переводим значения в столбце доля дожников в проценты
debt_purpose_category['share_of_debtors'] = debt_purpose_category['share_of_debtors'].map('{:.1%}'.format)
# Сортируем по столбцу доля лолжников по убыванию
debt_purpose_category.sort_values(by='share_of_debtors', ascending=False)

                          no_debt  debt share_of_debtors
purpose_category
операции с автомобилем       3879   400             9.3%
получение образования        3619   369             9.3%
проведение свадьбы           2130   183             7.9%
операции с недвижимостью     9971   780             7.3%

Граждане, берущие кредиты на получение образования и операции с автомобилем больше подвержены риску стать должниками. Эти две категории имеют одинаковый процент должников (9.3%). Граждане, которые берут кредит для проведения операций с недвижимостью более отвественно подходят к его погашению.

## **Возможные причины появления пропусков в исходных данных**

Причинами могут быть: неверный ввод данных, сокрытие информации, повреждение файла данных при сохранении, технические проблемы.

## **Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

Медиана устойчива к выбросам и аномальным значениям.

### **Общий вывод.**

* Наличие детей повышает вероятность задолжености.
* Холостые и живущие в граждансокм браке пары больше подвержены риску стать должниками.
* Категория граждан со средним доходом (50001–200000) больше подвержены риску стать должниками.
* Граждане, берущие кредиты на получение образования и операции с автомобилем больше подвержены риску стать должниками.